// HEADER

.header {
    background-color: #fff;
    z-index: 999;
    border-bottom: 17px solid #f8781f;
    position: fixed;
    top: 0;
    width: 100%;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    padding: 20px;
}

.header__content-menu {
    display: flex;
    align-items: center;

    .call-to-action {
        background-color: #2f2e41;
        border-radius: 5px;
        color: #fff;
        margin-left: 20px;
        font-size: 18px;
        padding: 15px 25px;
        transition: 1s;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease;
        transition-delay: 0s;
        &:hover {
            background-color: #f8781f;
        }
    }
}

.header__content-menu-single {
    display: flex;
    justify-content: flex-start;
    color: #253239;
    font-weight: 700;
    padding: 0 5px;
    margin-left: 20px;

    &:first-child {
        color: #f8781f;
        margin-left: 0;
    }
    &:hover {
        color: #f8781f;
    }
}

// FOOTER

.footer {
    border-top: 15px solid #f8781f;
    box-shadow: 0 -5px 20px 1px #d3d3d3;
}

.footer__large {
    width: 100%;
    background-color: #2f2e41;
}

.footer__large-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 50px 20px;
    flex-wrap: wrap;
}

.footer__large-content a {
    flex-grow: 0.1;
}
.footer__large-content-links {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.footer__large-content-single {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    flex: 1;
    .socials a {
        margin-right: 20px;
        flex-grow: 0;
    }
    .socials a i {
        color: #fff;
        background-color: #f8781f;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fab {
        font-family: Font Awesome 5 Brands;
    }
}

.footer__large-content-single a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
    &:hover {
        text-decoration: underline;
    }
}

.footer__large-content-single h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 0 0 10px;
}

.footer__thin {
    background-color: #2f2e41;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__thin-content {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f8781f;
}

.footer__thin-content a {
    text-decoration: underline;
}
